<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ page.title_full }}</title>
<meta property="og:title" content="{{ page.og_title | default: page.title_full }}">
<meta property="og:description" content="{{ page.description }}">
<meta property="og:image" content="{{ site.url }}{{ site.baseurl }}/images/og-image.jpg">
<meta property="og:url" content="{{ site.url }}{{ site.baseurl }}{{ page.url }}">
<meta property="og:type" content="{{ page.og_type | default: 'website' }}">
<meta name="twitter:card" content="summary_large_image">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link href="{{ page.fonts | default: layout.fonts }}" rel="stylesheet">
