<nav id="nav">
  <div class="nav-left">
    <div class="nav-title"><a href="{{ site.author_url }}" class="nav-author">{{ site.author }}</a> <span>/</span> The Resonance War</div>
  </div>
  <div class="nav-right">
    <button class="menu-toggle" id="menuToggle">&#9776;</button>
    <ul class="nav-links" id="navLinks">
      <li><a href="{{ '/index.html' | relative_url }}">Home</a></li>
      <li><a href="{{ '/world.html' | relative_url }}">World</a></li>
      <li><a href="{{ '/characters.html' | relative_url }}">Characters</a></li>
      <li><a href="{{ '/read.html' | relative_url }}">Read</a></li>
      <li><a href="{{ '/media.html' | relative_url }}">Media</a></li>
    </ul>
    <button class="theme-toggle" id="themeToggle">Light</button>
    <div class="font-sizer">
      <span class="sizer-label">A</span>
      <input type="range" id="fontSlider" min="16" max="24" value="18" step="1">
      <span class="sizer-label sizer-large">A</span>
    </div>
  </div>
</nav>
